<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="user-list" class="nav-link btn btn-primary" role="button">View Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="register-user" class="nav-link btn btn-primary" role="button">Registration</a>
      </li>
      <li class="nav-item">
        <a routerLink="login-user" class="nav-link btn btn-primary active" role="button">Login</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>